In [16]:
import os
os.getcwd()

'F:\\DOCUMENTS\\Project\\STORES_SALES_PREDICTION'

In [17]:
import logging

In [18]:
os.chdir("F:\DOCUMENTS\Project\STORES_SALES_PREDICTION")

In [19]:
from Stores.components.data_ingestion import database
mydb = database.connect_database()

name 'l' is not defined

In [20]:
mydb

In [1]:
import numpy as np
import mysql.connector
import pandas as pd

In [2]:
class database:
    
    def __init__(self):
        pass
    
    def connect_database():
        mydb = mysql.connector.connect(
                host = "localhost",
                user = "root",
                passwd = "A@2000shok",# Give your database password
                database = "stores_sales_prediction",
                auth_plugin='mysql_native_password')
        return mydb
            
        
mydb = database.connect_database()

In [5]:
class readdata:
    
    def __init__(self, db):
        self.db = db
        
    def read_df(self):
    
        df = pd.read_sql("SELECT * FROM train", con=self.db)
        return df

obj = readdata(mydb)
df = obj.read_df()

C:\Users\Admin\AppData\Local\Temp\ipykernel_9636\260821715.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM train", con=self.db)

In [6]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
7055,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
7056,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,,Tier 2,Supermarket Type1,549.2850
7057,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
7058,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
7059,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [10]:
from src.exception import CustomException

In [11]:
import os
os.getcwd()

'f:\\DOCUMENTS\\Project\\STORES_SALES_PREDICTION'

In [19]:
os.chdir("f:\\DOCUMENTS\\Project\\STORES_SALES_PREDICTION")

In [20]:
from src.components import data_ingestion
obj = DataIngestion()
db = obj.connect_database()
obj_train = read_train_data(db)
obj_train.read_train_data_from_db()
obj_test = read_test_data(db)
obj_test.read_test_data_from_db()

NameError: name 'DataIngestion' is not defined